<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="@Html.RenderStaticContentUrl("i/logo.ico")">
    <title>MyBlood4You.com, an open blood donar database...</title>
    <meta name="description" content="Web design, Marketing and SEO based in Staffordshire - Attain Design provide excellent services in Web Design, Marketing and Search Engine Optimisation">
    <meta name="keywords" content="Web design Staffordshire, Web Design Newcastle-Under-Lyme, Web Design Company, SEO, Search Engine Optimisation, Marketing, Graphic Design">
    <meta name="author" content="Rajas Consultants and Services, Amravati">
    <meta name="google-site-verification" content="M91Yrcqh_pCqFAMtMYyHpB6gyWiEhaY0u0nXYpoAamg">
    <meta name="geo.placename" content="Newcastle-Under-Lyme, Staffordshire">
    <meta property="og:title" content="MyBlood4You.com">
    <meta property="og:type" content="Rajas Consultants and Services, Amravati">
    <meta property="og:url" content="http://www.MyBlood4You.com/">
    <meta property="og:image" content="@Html.RenderStaticContentUrl("i/logo.gif")>
    <meta property="og:site_name" content="MyBlood4You.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script><![endif]-->
    <link rel="stylesheet" media="all" href="@Html.RenderStaticContentUrl("css/style.css")">
    <script src="@Html.RenderStaticContentUrl("js/jquery-1.6.1.min.js")" type="text/javascript"></script>
    <script src="@Html.RenderStaticContentUrl("js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Html.RenderStaticContentUrl("js/jquery.datepick.js")" type="text/javascript"></script>
    <script  src="@Html.RenderStaticContentUrl("js/opt-v2.js")" type="text/javascript"></script>
    <script src="@Html.RenderStaticContentUrl("js/ga.js")" type="text/javascript" ></script>
    <script src="@Html.RenderStaticContentUrl("js/functions.js")" type="text/javascript"></script>
    <script src="@Html.RenderStaticContentUrl("js/home.js")" type="text/javascript"></script>
    <script src="@Html.RenderStaticContentUrl("js/mb4uplugins.js")" type="text/javascript"></script>
    @Html.Partial("~/views/shared/_trackingcode.cshtml")
    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));</script>
</head>
