@using Rajas.Persona.Domain.Models;
<!DOCTYPE html>
@{
    Layout = string.Empty;
    var recentDonors = new UserModel();
    recentDonors.LoadRecentlyRgisteredUsers();
}
<html>
@Html.Partial("~/views/shared/_header.cshtml")
<body>
    <div class="body">
        <div class="wrapper" id="wrapper">
            @Html.Partial("~/views/shared/_PageHeader.cshtml")
            <table class="contenttable">
                <tr>
                    <td class="content vtop">
                        @RenderBody()
                    </td>
                    <td class="fbplugin vtop">
                        <h1>Social Sharing</h1>
                        @Html.Partial("~/views/shared/_FacebookTwitterLike.cshtml")
                        @*@Html.Partial("~/views/shared/_FacebookSubscribe.cshtml")*@
                        @Html.Partial("~/views/shared/_CA2AdContainer.cshtml")
                        @Html.Partial("~/views/RecentlyRegisered.cshtml", recentDonors)
                        @Html.Partial("~/views/shared/_TwitterTweets.cshtml")
                        @Html.Partial("~/views/shared/_FacebookComment.cshtml")
                    </td>
                </tr>
            </table>
            <script type="text/javascript">
                $(function () {
                    $('#selectedCountry').populateDropDownList({
                        paramName: 'id',
                        url: '/Application/GetStateList',
                        childSelect: $('#selectedState')
                    });

                    $('#selectedState').populateDropDownList({
                        paramName: 'id',
                        url: '/Application/GetDistrictList',
                        childSelect: $('#selectedDistrict')
                    });

                    $('#selectedDistrict').populateDropDownList({
                        paramName: 'id',
                        url: '/Application/GetTownList',
                        childSelect: $('#selectedTown')
                    });
                });
            </script>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</body>
</html>
